# Merge clean data

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
df_ex = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_external.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_in = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_internal.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_ec = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_earlycause.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)
df_new = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb669914_clean.csv',delimiter="\,").sort_values(by=['f.eid']).reset_index(drop=True)

/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [3]:
df_ec = df_ec.loc[df_ec['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_ex = df_ex.loc[df_ex['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_in = df_in.loc[df_in['f.eid'].isin(df_new['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)
df_new = df_new.loc[df_new['f.eid'].isin(df_ec['f.eid'])].sort_values(by=['f.eid']).reset_index(drop=True)

In [4]:
df_ec.shape, df_ex.shape, df_in.shape, df_new.shape

((502394, 9), (502394, 118), (502394, 11), (502394, 122))

In [5]:
del df_ex['f.eid']
del df_in['f.eid']
del df_new['f.eid']

In [6]:
df_all = pd.concat([df_ec,df_ex,df_new,df_in],axis=1)
df_ext = pd.concat([df_ec,df_ex,df_new],axis=1)

In [7]:
#word_to_find = 'type'
#strings_with_word = [string for string in list(df_all.columns) if word_to_find in string]

In [8]:
df_all.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/all_exposome_1.csv', index = False, header=True)
df_ext.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ext_exposome_1.csv', index = False, header=True)

In [9]:
df_all

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child,Sex,...,APOA,APOB,Cholesterol,CRP,Glucose,HbA1c,HDL,IGF_1,Testosterone,Triglyceride
0,1000010,NaN,NaN,NaN,2.0,2.0,2.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502389,6024770,NaN,NaN,NaN,0.0,0.0,4.0,0.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502390,6024784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,6024795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502392,6024804,NaN,NaN,NaN,0.0,0.0,3.0,0.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502393,6024818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_all.shape

(502394, 257)

In [11]:
df_ext

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child,Sex,...,Parkinson_disease_S,Alzheimer_disease/dementia_S,Diabetes_S,High_blood_pressure_S,Chronic_bronchitis/emphysema_S,Breast_cancer_S,Bowel_cancer_S,Lung_cancer_S,Stroke_S,Heart_disease_S
0,1000010,NaN,NaN,NaN,2.0,2.0,2.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502389,6024770,NaN,NaN,NaN,0.0,0.0,4.0,0.0,4.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502390,6024784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502391,6024795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502392,6024804,NaN,NaN,NaN,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
502393,6024818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_ext.shape

(502394, 247)