# Data collection and cleaning: ukb46359

In [1]:
# Import the json module, which allows us to work with JSON files in Python.
import json
with open('/Users/marinacamacho/Desktop/Master_I/var.json') as f:
    var_temp = json.load(f)

# Import the numpy module. Numpy is a library in Python that provides support for large, 
# multi-dimensional arrays and matrices, along with a large collection of high-level 
# mathematical functions to operate on these arrays.
import numpy as np

# Import the pandas module, which allows us to work with data structures and data analysis tools.
# Given it's a large dataset, the 'nrows=1' argument is used to read only the first row of the CSV file.
import pandas as pd
df_ = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', nrows=1)  # Read only the first column

In [2]:
df_

,eid,31-0.0,44-0.0,44-1.0,44-2.0,44-3.0,48-0.0,48-1.0,48-2.0,48-3.0,...,131414-0.0,131415-0.0,131416-0.0,131417-0.0,131418-0.0,131419-0.0,131420-0.0,131421-0.0,131422-0.0,131423-0.0
0,1000010,0,4675,NaN,NaN,NaN,74,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
columns_including_minus_0 = df_.filter(regex='.*-1.*')

In [4]:
columns_including_minus_0

,44-1.0,48-1.0,49-1.0,53-1.0,54-1.0,55-1.0,74-1.0,87-1.0,87-1.1,87-1.2,...,30750-1.0,30760-1.0,30770-1.0,30780-1.0,30790-1.0,30850-1.0,30870-1.0,104900-1.0,104910-1.0,104920-1.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,3060,13

In [5]:
# Variables that we had in a previous version that are no longer available
not_found_1 = ['767-0.0', '2237-0.0', '23102-0.0', '806-0.0', '796-0.0', '2040-0.0', 
 '1110-0.0', '816-0.0', '4526-0.0', '826-0.0', '1747-0.0', '100580-0.0', 
 '100240-0.0', '2267-0.0', '757-0.0', '24020-0.0', '1498-0.0', '100390-0.0',
 '21002-0.0', '79-0.0', '1120-0.0', '24014-0.0', '1060-0.0', '50-0.0', '1050-0.0', 
 '34-0.0', '104670-0.0', '24021-0.0', '1757-0.0', '23105-0.0', '1727-0.0', '24009-0.0',
 '1140-0.0', '189-0.0', '1150-0.0'] ; len(not_found_1)

35

In [6]:
# Variables that we don't have a second assesment, hence cannot be traced
not_treaceable_1 = ['20411-1.0', '20495-1.0', '20524-1.0', '20529-1.0', '20521-1.0', '20126-1.0', '20526-1.0', '20525-1.0', '20531-1.0', '20453-1.0', '20497-1.0', '31-1.0', '20522-1.0', '20414-1.0', '20530-1.0', '20405-1.0', '20523-1.0', '20498-1.0', '20456-1.0']

In [7]:
# Initialize a dictionary named var_temp. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain general external exposures.
var_temp_1 = {'eid': 'f.eid',
    '31-0.0' : 'Sex',
# '34-0.0': 'Age',
 '48-1.0': 'Waist_circumference',
 '49-1.0': 'Hip_circumference',
# '50-0.0': 'Standing_height',
 '54-1.0': 'Assessment_centre',
# '79-0.0': 'Alcohol_day',
# '189-0.0': 'Townsendeprivation',
 '670-1.0': 'Home_type',
 '680-1.0': 'Home_status',
# '757-0.0': 'Time_employed',
# '767-0.0': 'Length_working_week',
# '796-0.0': 'Distance_home_job',
# '806-0.0': 'Job_walking/standing',
# '816-0.0': 'Job_heavy/physical',
# '826-0.0': 'Job_shift_work',
 '845-1.0': 'Age_full_education',
# '1050-0.0': 'Time_outdoors_summer',
# '1060-0.0': 'Time_outdoors_winter',
# '1110-0.0': 'Length_phone_use',
# '1120-0.0': 'Weekly_phone_3_months',
# '1140-0.0': 'Difference_phone_2_years',
# '1150-0.0': 'Side_head_phone',
 '1160-1.0': 'Sleep_duration',            
 '1190-1.0': 'Nap_during_day',
 '1200-1.0': 'Sleeplessness',
 '1220-1.0': 'Daytime_dozing/sleeping',
 '1239-1.0': 'Current_smoking',
 '1249-1.0': 'Past_smoking',
 '1289-1.0': 'Cooked_vegetable_intake',
 '1299-1.0': 'Salad/raw_vegetable_intake',
 '1309-1.0': 'Fresh_fruit_intake',
 '1319-1.0': 'Dried_fruit_intake',
 '1329-1.0': 'Oily_fish_intake',
 '1339-1.0': 'Non_oily_fish_intake',
 '1349-1.0': 'Processed_meat_intake',
 '1359-1.0': 'Poultry_intake',
 '1369-1.0': 'Beef_intake',
 '1379-1.0': 'Lamb/mutton_intake',
 '1389-1.0': 'Pork_intake',
 '1408-1.0': 'Cheese_intake',
 '1418-1.0': 'Milk_type',
 '1428-1.0': 'Spread_type',
 '1438-1.0': 'Bread_intake',
 '1448-1.0': 'Bread_type',
 '1458-1.0': 'Cereal_intake',
 '1468-1.0': 'Cereal_type',
 '1478-1.0': 'Salt_added',
 '1488-1.0': 'Tea_intake',
# '1498-0.0': 'Coffee_intake',
 '1508-1.0': 'Coffee_type',
 '1528-1.0': 'Water_intake',
 '1538-1.0': 'Dietary_changes_5years',
 '1548-1.0': 'Variation_diet',
# '1727-0.0': 'Skin_tanning',            
# '1747-0.0': 'Hair_colour',
# '1757-0.0': 'Facial_ageing',
# '2040-0.0': 'Risk_taking',
 '2050-1.0': 'Depressed_2weeks',
 '2060-1.0': 'Unenthusiasm_2weeks',
 '2070-1.0': 'Tenseness_2weeks',
 '2080-1.0': 'Tiredness_2weeks',
 '2090-1.0': 'Seen_doctor',
 '2100-1.0': 'Seen_sychiatrist',
# '2237-0.0': 'Plays_computer_games',            
# '2267-0.0': 'Sun/uv_protection',
# '4526-0.0': 'Happiness',
 '4598-1.0': 'Ever_depressed_1week',
 '4609-1.0': 'Longest_depression',            
 '4620-1.0': 'Number_depression',
 '4631-1.0': 'Ever_unenthusiastic_1week',
 '6138-1.0': 'Qualifications_0', ###
 '6138-1.1': 'Qualifications_1', ###
 '6138-1.2': 'Qualifications_2', ###
 '6138-1.3': 'Qualifications_3', ###
 '6138-1.4': 'Qualifications_4', ###
 '6138-1.5': 'Qualifications_5', ###
 '6142-1.0': 'Employment_status_0', ###
 '6142-1.1': 'Employment_status_1', ###
 '6142-1.2': 'Employment_status_2', ###
 '6142-1.3': 'Employment_status_3', ###
 '6142-1.4': 'Employment_status_4', ###
 '6142-1.5': 'Employment_status_5', ###
 '6142-1.6': 'Employment_status_6', ###
 '20117-1.0': 'Drinker_status',           
 '20126-0.0': 'Bipolar_status',
# '20127-0.0': 'Neuroticism_score',
 '20405-0.0': 'Recommend_reduction_alcohol',
 '20411-0.0': 'Injury_drinking',
 '20414-0.0': 'Frequency_drinking',            
 '20453-0.0': 'Ever_cannabis',
 '20456-0.0': 'Ever_illicit_drug',
 '20495-0.0': 'Avoided_activities_1month',
 '20497-0.0': 'Disturbing_thoughts_1month',
 '20498-0.0': 'Upset_reminded_1month',            
 '20521-0.0': 'Belittlement_partner',
 '20522-0.0': 'Confiding_relationship',
 '20523-0.0': 'Physical_violence_partner',
 '20524-0.0': 'Sexual_interference_without_consent',
 '20525-0.0': 'Able_to_pay_rent/mortgage',            
 '20526-0.0': 'Accident_life-threatening',
 '20529-0.0': 'Victim_crime',
 '20530-0.0': 'Witnessed_death',
 '20531-0.0': 'Victim_sexual_assault',
 '21000-1.0': 'Ethnic',            
 '21001-1.0': 'BMI',
# '21002-0.0': 'Weight',
 '21022-1.0': 'Age',
 '23099-1.0': 'Body_fat_percentage',
 '23101-1.0': 'Body_fat-free_mass',
# '23102-0.0': 'Body_water_mass',            
# '23105-0.0': 'Basal_metabolic_rate',
# '24009-0.0': 'Traffic_intensity',
# '24014-0.0': 'Close_major_road',
# '24020-0.0': 'Daytime_noise_pollution',
# '24021-0.0': 'Evening_noise_pollution',            
# '100240-0.0': 'Coffee_consumed',
# '100390-0.0': 'Tea_consumed',
# '100580-0.0': 'Alcohol_consumed',
# '104670-0.0': 'Vitamin_supplement_user'
             }

In [8]:
# Variables that we had in a previous version that are no longer available
not_found_2 = ['1737-0.0', '1697-0.0', '1777-0.0', '1687-0.0', '1707-0.0']; len(not_found_2)

5

In [9]:
# Variables that we don't have a second assesment, hence cannot be traced
not_treaceable_2 = ['20487-1.0', '20488-1.0', '20490-1.0', '20491-1.0', '20489-1.0']

In [10]:
# Initialize a dictionary named var_temp_2. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain Early Cause Factors.
var_temp_2 ={'eid': 'f.eid',
            '1677-1.0':'Breastfed_baby',
#            '1687-0.0':'Size_age10',
#            '1697-0.0':'Height_age10',
#            '1707-0.0':'Handedness',
#            '1737-0.0':'Childhood_sunburn_occasions',
            '1767-1.0':'Adopted_child',
#            '1777-0.0':'Part_multiple',
            '1787-1.0':'Maternal_smoking_around_birth',
            '20487-0.0':'Hated_family_member_child',
            '20488-0.0':'Abused_family_child',
            '20489-0.0':'Felt_loved_child',
            '20490-0.0':'Sexually_molested_child',
            '20491-0.0':'Someone_take_doctor_child'}

In [11]:
# Variables that we had in a previous version that are no longer available
not_found_3 = ['30600-0.0', '30080-0.0', '30020-0.0', '30890-0.0', '30720-0.0', '30650-0.0', '30830-0.0', 
               '30670-0.0', '30610-0.0', '30800-0.0', '30880-0.0', '30000-0.0', '30150-0.0', '30620-0.0', 
               '30680-0.0', '30140-0.0', '30810-0.0', '30820-0.0', '30730-0.0', '30700-0.0'];

In [12]:
# Initialize a dictionary named var_temp_3. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain internal exposures (blood).
var_temp_3 ={'eid': 'f.eid',
#            '30600-0.0':'Albumin',
#            '30610-0.0':'Alkanine_phosphatase',
#            '30620-0.0':'Alanine_aminotransferase',
            '30630-1.0':'APOA',
            '30640-1.0':'APOB',
#            '30650-0.0':'Aspartate_aminotransferase',
#            '30680-0.0':'Calcium',
            '30690-1.0':'Cholesterol',
#            '30700-0.0':'Creatinine',
            '30710-1.0':'CRP',
#            '30730-0.0':'GGT',
            '30740-1.0':'Glucose',
            '30760-1.0':'HDL',
#            '30780-0.0':'LDL',
#            '30790-0.0':'Lipoprotein_A',
            '30870-1.0':'Triglyceride',
#            '30810-0.0':'Phosphate',
#            '30820-0.0':'Rheumatoid_factor',
#            '30880-0.0':'Uric_acid',
#            '30670-0.0':'Urea',
#            '30720-0.0':'Cystatin_C',
            '30770-1.0':'IGF_1',
#            '30890-0.0':'Vitamin_D',
#            '30800-0.0':'Oestradiol',
            '30850-1.0':'Testosterone',
#            '30830-0.0':'SHBG',
            '30750-1.0':'HbA1c',
#            '30020-0.0':'Haemoglobin_concentration',
#            '30080-0.0':'Platelets_count',
#            '30000-0.0':'White_blood_cell_count',
#            '30150-0.0':'Eosinophil_count',
#            '30140-0.0':'Neutrophil_count'
}

In [13]:
df_1 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_1.keys())
df_1 = df_1.rename(columns = var_temp_1)

In [14]:
df_2 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_2.keys())
df_2 = df_2.rename(columns = var_temp_2)

In [15]:
df_3 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_3.keys())
df_3 = df_3.rename(columns = var_temp_3)

In [16]:
variables = ['Age_full_education','Sleep_duration','Nap_during_day',
             'Sleeplessness','Daytime_dozing/sleeping','Drinker_status',
             'Frequency_drinking','Ever_cannabis','Ever_illicit_drug','Injury_drinking',
             'Recommend_reduction_alcohol','Current_smoking','Past_smoking',
             'Cooked_vegetable_intake','Salad/raw_vegetable_intake',
             'Fresh_fruit_intake','Dried_fruit_intake','Oily_fish_intake',
             'Non_oily_fish_intake','Processed_meat_intake','Poultry_intake',
             'Beef_intake','Lamb/mutton_intake','Pork_intake','Cheese_intake',
             #'Home_status',
             #'Home_type',
             #'Milk_type','Spread_type',
             'Bread_intake',
             #'Bread_type',
             'Cereal_intake',
             #'Cereal_type',
             'Salt_added','Tea_intake',
             #'Coffee_type',
             'Water_intake','Dietary_changes_5years',
             'Variation_diet','Belittlement_partner','Confiding_relationship',
             'Physical_violence_partner','Sexual_interference_without_consent',
             'Able_to_pay_rent/mortgage','Accident_life-threatening',
             'Victim_crime','Witnessed_death','Victim_sexual_assault',
             'Avoided_activities_1month','Disturbing_thoughts_1month',
             'Upset_reminded_1month','Ever_depressed_1week',
             'Longest_depression','Number_depression',
             #'Bipolar_status',
             #'Neuroticism_score',
             'Ever_unenthusiastic_1week',
             'Depressed_2weeks','Unenthusiasm_2weeks','Tenseness_2weeks',
             'Tiredness_2weeks','Seen_doctor','Seen_sychiatrist',
             'Ethnic',
             'Age']

# Loop over each column in the list of variables
for col in variables:
    # In each column, replace the values -1,-2,-3,-10,-121,-818 with np.NaN,100,np.NaN,0.5,np.NaN,np.NaN respectively.
    # Notice that this values were coding for specific meanings in this variables, see: https://biobank.ndph.ox.ac.uk/ukb/search.cgi.
    df_1[col] = df_1[col].replace([-1,-2,-3,-10,-121,-818],[np.NaN,100,np.NaN,0.5,np.NaN,np.NaN])

In [17]:
df_1['Current_smoking']=df_1['Current_smoking'].replace([2,1], [1,2])
df_1['Past_smoking']=df_1['Past_smoking'].replace([0,1,3,4], [4,3,1,0])

In [18]:
variables = ['Breastfed_baby','Adopted_child','Maternal_smoking_around_birth',
             'Hated_family_member_child','Abused_family_child','Felt_loved_child',
             'Sexually_molested_child','Someone_take_doctor_child']

# Loop over each column in the list of variables and replace special values for appropiate ones
for col in variables:
    df_2[col] = df_2[col].replace([-1,-2,-3,-10,-121,-818],[np.NaN,999,np.NaN,0.5,np.NaN,np.NaN])

In [19]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1.0: 'White',
       2.0: 'Brown',      
       3.0: 'WholeMealgrain',
       4.0: 'OtherBread',
        -1: 'Do_not_know',
        -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Bread_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['White'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['White'])
df_1['Brown'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Brown'])
df_1['WholeMealgrain'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['WholeMealgrain'])
df_1['OtherBread'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['OtherBread'])

df_1['White'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['White'])
df_1['Brown'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Brown'])
df_1['WholeMealgrain'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['WholeMealgrain'])
df_1['OtherBread'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['OtherBread'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Bread_type']

In [20]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Full_cream',
    2: 'Semi-skimmed',
    3: 'Skimmed',
    4: 'Soya',
    5: 'Other_type_of_milk',
    6: 'Never/rarely_have_milk',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Milk_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Full_cream'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Full_cream'])
df_1['Semi-skimmed'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Semi-skimmed'])
df_1['Skimmed'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Skimmed'])
df_1['Soya'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Soya'])
df_1['Other_type_of_milk'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_type_of_milk'])
df_1['Never/rarely_have_milk'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Never/rarely_have_milk'])

df_1['Full_cream'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Full_cream'])
df_1['Semi-skimmed'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Semi-skimmed'])
df_1['Skimmed'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Skimmed'])
df_1['Soya'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Soya'])
df_1['Other_type_of_milk'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_type_of_milk'])
df_1['Never/rarely_have_milk'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Never/rarely_have_milk'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Milk_type']

In [21]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Butter/spreadable_butter',
    2: 'Flora_Pro-Active/Benecol',
    3: 'Other_type_of_spread/margarine',
    0: 'Never/rarely_use_spread',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}


# Specify the column names you want to extract
columns_to_extract = ['Spread_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Butter/spreadable_butter'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Butter/spreadable_butter'])
df_1['Flora_Pro-Active/Benecol'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Flora_Pro-Active/Benecol'])
df_1['Other_type_of_spread/margarine'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_type_of_spread/margarine'])
df_1['Never/rarely_use_spread'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Never/rarely_use_spread'])

df_1['Butter/spreadable_butter'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Butter/spreadable_butter'])
df_1['Flora_Pro-Active/Benecol'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Flora_Pro-Active/Benecol'])
df_1['Other_type_of_spread/margarine'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_type_of_spread/margarine'])
df_1['Never/rarely_use_spread'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Never/rarely_use_spread'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Spread_type']

In [22]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Bran_cereal',
    2: 'Biscuit_cereal',
    3: 'Oat_cereal',
    4: 'Muesli',
    5: 'Other_cereal',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Cereal_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Bran_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Bran_cereal'])
df_1['Biscuit_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Biscuit_cereal'])
df_1['Oat_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Oat_cereal'])
df_1['Muesli'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Muesli'])
df_1['Other_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_cereal'])

df_1['Bran_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Bran_cereal'])
df_1['Biscuit_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Biscuit_cereal'])
df_1['Oat_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Oat_cereal'])
df_1['Muesli'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Muesli'])
df_1['Other_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_cereal'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Cereal_type']

In [23]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Decaffeinated_coffee',
    2: 'Instant_coffee',
    3: 'Ground_coffee',
    4: 'Other_coffee',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Coffee_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Decaffeinated_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Decaffeinated_coffee'])
df_1['Instant_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Instant_coffee'])
df_1['Ground_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Ground_coffee'])
df_1['Other_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_coffee'])

df_1['Decaffeinated_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Decaffeinated_coffee'])
df_1['Instant_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Instant_coffee'])
df_1['Ground_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Ground_coffee'])
df_1['Other_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_coffee'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Coffee_type']

In [24]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'House/bungalow',
    2: 'Flat/maisonette/apartment',
    3: 'Mobile/temporary_structure',
    4: 'Sheltered_accommodation',
    5: 'Care_home',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Home_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['House/bungalow'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['House/bungalow'])
df_1['Flat/maisonette/apartment'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Flat/maisonette/apartment'])
df_1['Mobile/temporary_structure'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Mobile/temporary_structure'])
df_1['Sheltered_accommodation'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Sheltered_accommodation'])
df_1['Care_home'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Care_home'])

df_1['House/bungalow'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['House/bungalow'])
df_1['Flat/maisonette/apartment'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Flat/maisonette/apartment'])
df_1['Sheltered_accommodation/temporary_structure'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Mobile/temporary_structure'])
df_1['Muesli'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Sheltered_accommodation'])
df_1['Care_home'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Care_home'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Home_type']

In [25]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'Own_outright',
    2.0: 'Own_mortgage', 
    3.0: 'Rent_local',
    4.0: 'Rent_private',      
    5.0: 'Pay_rent_mortgage',  
    6.0: 'Rent_free',      
}

# Specify the column names you want to extract
columns_to_extract = ['Home_status']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Own_outright'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Own_outright'])
df_1['Own_mortgage'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Own_mortgage'])
df_1['Rent_local'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_local'])
df_1['Rent_private'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_private'])
df_1['Pay_rent_mortgage'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Pay_rent_mortgage'])
df_1['Rent_free'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_free'])

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']
del df_1['Home_status']

In [26]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {0: 'No_Bipolar_Depression',
    1: 'Bipolar_I_Disorder',
    2: 'Bipolar_II_Disorder',
    3: 'Recurrent_severe_depression',
    4: 'Recurrent_moderate_depression',
    5: 'Single_depression_episode'}

# Specify the column names you want to extract
columns_to_extract = ['Bipolar_status']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

del df_1['No_Bipolar_Depression']

In [27]:
#'6138-0.0': 'Qualifications'
#'6142-0.0': 'Employment_status'

In [28]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'University',  
    2.0: 'A/AS',
    3.0: 'O/GCSE',
    4.0: 'CSE',
    5.0: 'NVQ/HND/HNC',
    6.0: 'Professional'
}

# Specify the column names you want to extract
columns_to_extract = ['Qualifications_0','Qualifications_1','Qualifications_2',
                      'Qualifications_3','Qualifications_4','Qualifications_5']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    
    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['University'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['University'])
df_1['A/AS'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['A/AS'])
df_1['O/GCSE'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['O/GCSE'])
df_1['CSE'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['CSE'])
df_1['NVQ/HND/HNC'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['NVQ/HND/HNC'])
df_1['Professional'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Professional'])

del df_1['Qualifications_0']
del df_1['Qualifications_1']
del df_1['Qualifications_2']
del df_1['Qualifications_3']
del df_1['Qualifications_4']
del df_1['Qualifications_5']

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']

In [29]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'Paid_employment',
    2.0: 'Retired', 
    3.0: 'Looking_after_home',
    4.0: 'Unable_to_work',      
    5.0: 'Unemployed',  
    6.0: 'Unpaid_work',      
    7.0: 'Student'
}

# Specify the column names you want to extract
columns_to_extract = ['Employment_status_0','Employment_status_1','Employment_status_2',
                      'Employment_status_3','Employment_status_4','Employment_status_5',
                      'Employment_status_6']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Paid_employment'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Paid_employment'])
df_1['Retired'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Retired'])
df_1['Looking_after_home'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Looking_after_home'])
df_1['Unable_to_work'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unable_to_work'])
df_1['Unemployed'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unemployed'])
df_1['Unpaid_work'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unpaid_work'])
df_1['Student'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Student'])
  
del df_1['Employment_status_0']
del df_1['Employment_status_1']
del df_1['Employment_status_2']
del df_1['Employment_status_3']
del df_1['Employment_status_4']
del df_1['Employment_status_5']
del df_1['Employment_status_6']

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']

In [30]:
df_1.shape

(502481, 118)

In [31]:
df_2.shape

(502481, 9)

In [32]:
df_3.shape

(502481, 11)

In [33]:
columns_with_negatives_1 = df_1.columns[df_1.lt(0).any()]; columns_with_negatives_1

Index([], dtype='object')

In [34]:
columns_with_negatives_2 = df_2.columns[df_2.lt(0).any()]; columns_with_negatives_2

Index([], dtype='object')

In [35]:
columns_with_negatives_3 = df_3.columns[df_3.lt(0).any()]; columns_with_negatives_3

Index([], dtype='object')

In [36]:
df_1.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_external.csv', index = False, header=True)

In [37]:
df_3.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_internal.csv', index = False, header=True)

In [38]:
df_2.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_1/ukb46359_clean_earlycause.csv', index = False, header=True)