# Data collection and cleaning: ukb46359

In [1]:
# Import the json module, which allows us to work with JSON files in Python.
import json
with open('/Users/marinacamacho/Desktop/Master_I/var.json') as f:
    var_temp = json.load(f)

# Import the numpy module. Numpy is a library in Python that provides support for large, 
# multi-dimensional arrays and matrices, along with a large collection of high-level 
# mathematical functions to operate on these arrays.
import numpy as np

# Import the pandas module, which allows us to work with data structures and data analysis tools.
# Given it's a large dataset, the 'nrows=1' argument is used to read only the first row of the CSV file.
import pandas as pd
df_ = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', nrows=1)  # Read only the first column

In [2]:
list(df_.columns)[1000:]

['20008-1.9',
 '20008-1.10',
 '20008-1.11',
 '20008-1.12',
 '20008-1.13',
 '20008-1.14',
 '20008-1.15',
 '20008-1.16',
 '20008-1.17',
 '20008-1.18',
 '20008-1.19',
 '20008-1.20',
 '20008-1.21',
 '20008-1.22',
 '20008-1.23',
 '20008-1.24',
 '20008-1.25',
 '20008-1.26',
 '20008-1.27',
 '20008-1.28',
 '20008-1.29',
 '20008-1.30',
 '20008-1.31',
 '20008-1.32',
 '20008-1.33',
 '20008-2.0',
 '20008-2.1',
 '20008-2.2',
 '20008-2.3',
 '20008-2.4',
 '20008-2.5',
 '20008-2.6',
 '20008-2.7',
 '20008-2.8',
 '20008-2.9',
 '20008-2.10',
 '20008-2.11',
 '20008-2.12',
 '20008-2.13',
 '20008-2.14',
 '20008-2.15',
 '20008-2.16',
 '20008-2.17',
 '20008-2.18',
 '20008-2.19',
 '20008-2.20',
 '20008-2.21',
 '20008-2.22',
 '20008-2.23',
 '20008-2.24',
 '20008-2.25',
 '20008-2.26',
 '20008-2.27',
 '20008-2.28',
 '20008-2.29',
 '20008-2.30',
 '20008-2.31',
 '20008-2.32',
 '20008-2.33',
 '20008-3.0',
 '20008-3.1',
 '20008-3.2',
 '20008-3.3',
 '20008-3.4',
 '20008-3.5',
 '20008-3.6',
 '20008-3.7',
 '20008-3.8',
 '20008-3.9',
 '20008-3.10',
 '20008-3.11',
 '20008-3.12',
 '20008-3.13',
 '20008-3.14',
 '20008-3.15',
 '20008-3.16',
 '20008-3.17',
 '20008-3.18',
 '20008-3.19',
 '20008-3.20',
 '20008-3.21',
 '20008-3.22',
 '20008-3.23',
 '20008-3.24',
 '20008-3.25',
 '20008-3.26',
 '20008-3.27',
 '20008-3.28',
 '20008-3.29',
 '20008-3.30',
 '20008-3.31',
 '20008-3.32',
 '20008-3.33',
 '20009-0.0',
 '20009-0.1',
 '20009-0.2',
 '20009-0.3',
 '20009-0.4',
 '20009-0.5',
 '20009-0.6',
 '20009-0.7',
 '20009-0.8',
 '20009-0.9',
 '20009-0.10',
 '20009-0.11',
 '20009-0.12',
 '20009-0.13',
 '20009-0.14',
 '20009-0.15',
 '20009-0.16',
 '20009-0.17',
 '20009-0.18',
 '20009-0.19',
 '20009-0.20',
 '20009-0.21',
 '20009-0.22',
 '20009-0.23',
 '20009-0.24',
 '20009-0.25',
 '20009-0.26',
 '20009-0.27',
 '20009-0.28',
 '20009-0.29',
 '20009-0.30',
 '20009-0.31',
 '20009-0.32',
 '20009-0.33',
 '20009-1.0',
 '20009-1.1',
 '20009-1.2',
 '20009-1.3',
 '20009-1.4',
 '20009-1.5',
 '20009-1.6',
 '20009-1.7',
 '20009-1.8',
 '20009-1.9',
 '20009-1.10',
 '20009-1.11',
 '20009-1.12',
 '20009-1.13',
 '20009-1.14',
 '20009-1.15',
 '20009-1.16',
 '20009-1.17',
 '20009-1.18',
 '20009-1.19',
 '20009-1.20',
 '20009-1.21',
 '20009-1.22',
 '20009-1.23',
 '20009-1.24',
 '20009-1.25',
 '20009-1.26',
 '20009-1.27',
 '20009-1.28',
 '20009-1.29',
 '20009-1.30',
 '20009-1.31',
 '20009-1.32',
 '20009-1.33',
 '20009-2.0',
 '20009-2.1',
 '20009-2.2',
 '20009-2.3',
 '20009-2.4',
 '20009-2.5',
 '20009-2.6',
 '20009-2.7',
 '20009-2.8',
 '20009-2.9',
 '20009-2.10',
 '20009-2.11',
 '20009-2.12',
 '20009-2.13',
 '20009-2.14',
 '20009-2.15',
 '20009-2.16',
 '20009-2.17',
 '20009-2.18',
 '20009-2.19',
 '20009-2.20',
 '20009-2.21',
 '20009-2.22',
 '20009-2.23',
 '20009-2.24',
 '20009-2.25',
 '20009-2.26',
 '20009-2.27',
 '20009-2.28',
 '20009-2.29',
 '20009-2.30',
 '20009-2.31',
 '20009-2.32',
 '20009-2.33',
 '20009-3.0',
 '20009-3.1',
 '20009-3.2',
 '20009-3.3',
 '20009-3.4',
 '20009-3.5',
 '20009-3.6',
 '20009-3.7',
 '20009-3.8',
 '20009-3.9',
 '20009-3.10',
 '20009-3.11',
 '20009-3.12',
 '20009-3.13',
 '20009-3.14',
 '20009-3.15',
 '20009-3.16',
 '20009-3.17',
 '20009-3.18',
 '20009-3.19',
 '20009-3.20',
 '20009-3.21',
 '20009-3.22',
 '20009-3.23',
 '20009-3.24',
 '20009-3.25',
 '20009-3.26',
 '20009-3.27',
 '20009-3.28',
 '20009-3.29',
 '20009-3.30',
 '20009-3.31',
 '20009-3.32',
 '20009-3.33',
 '20012-0.0',
 '20012-0.1',
 '20012-0.2',
 '20012-0.3',
 '20012-0.4',
 '20012-0.5',
 '20012-1.0',
 '20012-1.1',
 '20012-1.2',
 '20012-1.3',
 '20012-1.4',
 '20012-1.5',
 '20012-2.0',
 '20012-2.1',
 '20012-2.2',
 '20012-2.3',
 '20012-2.4',
 '20012-2.5',
 '20012-3.0',
 '20012-3.1',
 '20012-3.2',
 '20012-3.3',
 '20012-3.4',
 '20012-3.5',
 '20086-0.0',
 '20086-0.1',
 '20086-0.2',
 '20086-0.3',
 '20086-0.4',
 '20086-0.5',
 '20086-1.0',
 '20086-1.1',
 '20086-1.2',
 '20086-1.3',
 '20086-1.4',
 '20086-1.5',
 '20086-2.0',
 '20086-2.1',
 '20086-2.2',
 '20086-2.3',
 '20086-2.4',
 '20086-2.5',
 '20086-3.0',
 '20086-3.1',
 '20086-3.2',
 '20086-3.3',
 '20086-3.4',
 '20086-3.5',
 '20086-4.0',
 '20086-4.1',
 '20086-4.2',
 '20086-4.3',
 '20086-4.4',
 '20086-4.5',
 '20116-0.0',
 '20116-1.0',
 '20116-2.0',
 '20116-3.0',
 '20117-0.0',
 '20117-1.0',
 '20117-2.0',
 '20117-3.0',
 '20119-0.0',
 '20123-0.0',
 '20124-0.0',
 '20125-0.0',
 '20126-0.0',
 '20127-0.0',
 '20252-2.0',
 '20252-3.0',
 '20253-2.0',
 '20253-3.0',
 '20400-0.0',
 '20403-0.0',
 '20405-0.0',
 '20407-0.0',
 '20408-0.0',
 '20409-0.0',
 '20410-0.0',
 '20411-0.0',
 '20412-0.0',
 '20413-0.0',
 '20414-0.0',
 '20416-0.0',
 '20417-0.0',
 '20418-0.0',
 '20419-0.0',
 '20420-0.0',
 '20421-0.0',
 '20422-0.0',
 '20423-0.0',
 '20425-0.0',
 '20426-0.0',
 '20427-0.0',
 '20428-0.0',
 '20429-0.0',
 '20433-0.0',
 '20434-0.0',
 '20435-0.0',
 '20436-0.0',
 '20437-0.0',
 '20438-0.0',
 '20439-0.0',
 '20440-0.0',
 '20441-0.0',
 '20442-0.0',
 '20445-0.0',
 '20446-0.0',
 '20447-0.0',
 '20448-0.0',
 '20449-0.0',
 '20450-0.0',
 '20453-0.0',
 '20454-0.0',
 '20455-0.0',
 '20456-0.0',
 '20461-0.0',
 '20462-0.0',
 '20463-0.0',
 '20465-0.0',
 '20466-0.0',
 '20467-0.0',
 '20468-0.0',
 '20470-0.0',
 '20471-0.0',
 '20473-0.0',
 '20474-0.0',
 '20476-0.0',
 '20477-0.0',
 '20487-0.0',
 '20488-0.0',
 '20489-0.0',
 '20490-0.0',
 '20491-0.0',
 '20492-0.0',
 '20493-0.0',
 '20494-0.0',
 '20495-0.0',
 '20496-0.0',
 '20497-0.0',
 '20498-0.0',
 '20499-0.0',
 '20500-0.0',
 '20501-0.0',
 '20502-0.0',
 '20505-0.0',
 '20506-0.0',
 '20507-0.0',
 '20508-0.0',
 '20509-0.0',
 '20510-0.0',
 '20511-0.0',
 '20512-0.0',
 '20513-0.0',
 '20514-0.0',
 '20515-0.0',
 '20516-0.0',
 '20517-0.0',
 '20518-0.0',
 '20519-0.0',
 '20520-0.0',
 '20521-0.0',
 '20522-0.0',
 '20523-0.0',
 '20524-0.0',
 '20525-0.0',
 '20526-0.0',
 '20527-0.0',
 '20528-0.0',
 '20529-0.0',
 '20530-0.0',
 '20531-0.0',
 '20532-0.0',
 '20533-0.0',
 '20534-0.0',
 '20535-0.0',
 '20536-0.0',
 '20537-0.0',
 '20538-0.0',
 '20539-0.0',
 '20540-0.0',
 '20541-0.0',
 '20542-0.0',
 '20543-0.0',
 '20544-0.1',
 '20544-0.2',
 '20544-0.3',
 '20544-0.4',
 '20544-0.5',
 '20544-0.6',
 '20544-0.7',
 '20544-0.8',
 '20544-0.9',
 '20544-0.10',
 '20544-0.11',
 '20544-0.12',
 '20544-0.13',
 '20544-0.14',
 '20544-0.15',
 '20544-0.16',
 '20546-0.1',
 '20546-0.2',
 '20546-0.3',
 '20547-0.1',
 '20547-0.2',
 '20548-0.1',
 '20548-0.2',
 '20548-0.3',
 '20548-0.4',
 '20548-0.5',
 '20548-0.6',
 '20548-0.7',
 '20548-0.8',
 '20549-0.1',
 '20549-0.2',
 '20549-0.3',
 '20550-0.1',
 '20550-0.2',
 '21000-0.0',
 '21000-1.0',
 '21000-2.0',
 '21001-0.0',
 '21001-1.0',
 '21001-2.0',
 '21001-3.0',
 '21003-0.0',
 '21003-1.0',
 '21003-2.0',
 '21003-3.0',
 '21022-0.0',
 '22006-0.0',
 '22032-0.0',
 '22033-0.0',
 '22034-0.0',
 '22035-0.0',
 '22036-0.0',
 '22037-0.0',
 '22038-0.0',
 '22039-0.0',
 '23098-0.0',
 '23098-1.0',
 '23098-2.0',
 '23098-3.0',
 '23099-0.0',
 '23099-1.0',
 '23099-2.0',
 '23099-3.0',
 '23100-0.0',
 '23100-1.0',
 '23100-2.0',
 '23100-3.0',
 '23101-0.0',
 '23101-1.0',
 '23101-2.0',
 '23101-3.0',
 '23245-2.0',
 '25056-2.0',
 '25056-3.0',
 '25057-2.0',
 '25057-3.0',
 '25058-2.0',
 '25058-3.0',
 '25059-2.0',
 '25059-3.0',
 '25060-2.0',
 '25060-3.0',
 '25061-2.0',
 '25061-3.0',
 '25062-2.0',
 '25062-3.0',
 '25063-2.0',
 '25063-3.0',
 '25064-2.0',
 '25064-3.0',
 '25065-2.0',
 '25065-3.0',
 '25066-2.0',
 '25066-3.0',
 '25067-2.0',
 '25067-3.0',
 '25068-2.0',
 '25068-3.0',
 '25069-2.0',
 '25069-3.0',
 '25070-2.0',
 '25070-3.0',
 '25071-2.0',
 '25071-3.0',
 '25072-2.0',
 '25072-3.0',
 '25073-2.0',
 '25073-3.0',
 '25074-2.0',
 '25074-3.0',
 '25075-2.0',
 '25075-3.0',
 '25076-2.0',
 '25076-3.0',
 '25077-2.0',
 '25077-3.0',
 '25078-2.0',
 '25078-3.0',
 '25079-2.0',
 '25079-3.0',
 '25080-2.0',
 '25080-3.0',
 '25081-2.0',
 '25081-3.0',
 '25082-2.0',
 '25082-3.0',
 '25083-2.0',
 '25083-3.0',
 '25084-2.0',
 '25084-3.0',
 '25085-2.0',
 '25085-3.0',
 '25086-2.0',
 '25086-3.0',
 '25087-2.0',
 '25087-3.0',
 '25088-2.0',
 '25088-3.0',
 '25089-2.0',
 '25089-3.0',
 '25090-2.0',
 '25090-3.0',
 '25091-2.0',
 '25091-3.0',
 '25092-2.0',
 '25092-3.0',
 '25093-2.0',
 '25093-3.0',
 '25094-2.0',
 '25094-3.0',
 '25095-2.0',
 '25095-3.0',
 '25096-2.0',
 '25096-3.0',
 '25097-2.0',
 '25097-3.0',
 '25098-2.0',
 '25098-3.0',
 '25099-2.0',
 '25099-3.0',
 '25100-2.0',
 '25100-3.0',
 '25101-2.0',
 '25101-3.0',
 '25102-2.0',
 '25102-3.0',
 '25103-2.0',
 '25103-3.0',
 '25104-2.0',
 '25104-3.0',
 '25105-2.0',
 '25105-3.0',
 '25106-2.0',
 '25106-3.0',
 '25107-2.0',
 '25107-3.0',
 '25108-2.0',
 '25108-3.0',
 '25109-2.0',
 '25109-3.0',
 '25110-2.0',
 '25110-3.0',
 '25111-2.0',
 '25111-3.0',
 '25112-2.0',
 '25112-3.0',
 '25113-2.0',
 '25113-3.0',
 '25114-2.0',
 '25114-3.0',
 '25115-2.0',
 '25115-3.0',
 '25116-2.0',
 '25116-3.0',
 '25117-2.0',
 '25117-3.0',
 '25118-2.0',
 '25118-3.0',
 '25119-2.0',
 '25119-3.0',
 '25120-2.0',
 '25120-3.0',
 '25121-2.0',
 '25121-3.0',
 '25122-2.0',
 '25122-3.0',
 '25123-2.0',
 '25123-3.0',
 '25124-2.0',
 '25124-3.0',
 '25125-2.0',
 '25125-3.0',
 '25126-2.0',
 '25126-3.0',
 '25127-2.0',
 '25127-3.0',
 '25128-2.0',
 '25128-3.0',
 '25129-2.0',
 '25129-3.0',
 '25130-2.0',
 '25130-3.0',
 '25131-2.0',
 '25131-3.0',
 '25132-2.0',
 '25132-3.0',
 '25133-2.0',
 '25133-3.0',
 '25134-2.0',
 '25134-3.0',
 '25135-2.0',
 '25135-3.0',
 '25136-2.0',
 '25136-3.0',
 '25137-2.0',
 '25137-3.0',
 '25138-2.0',
 '25138-3.0',
 '25139-2.0',
 '25139-3.0',
 '25140-2.0',
 '25140-3.0',
 '25141-2.0',
 '25141-3.0',
 '25142-2.0',
 '25142-3.0',
 '25143-2.0',
 '25143-3.0',
 '25144-2.0',
 '25144-3.0',
 '25145-2.0',
 '25145-3.0',
 '25146-2.0',
 '25146-3.0',
 '25147-2.0',
 '25147-3.0',
 '25148-2.0',
 '25148-3.0',
 '25149-2.0',
 '25149-3.0',
 '25150-2.0',
 '25150-3.0',
 '25151-2.0',
 '25151-3.0',
 '25488-2.0',
 '25488-3.0',
 '25489-2.0',
 '25489-3.0',
 '25490-2.0',
 '25490-3.0',
 '25491-2.0',
 '25491-3.0',
 '25492-2.0',
 '25492-3.0',
 '25493-2.0',
 '25493-3.0',
 '25494-2.0',
 '25494-3.0',
 '25495-2.0',
 '25495-3.0',
 '25496-2.0',
 '25496-3.0',
 '25497-2.0',
 '25497-3.0',
 '25498-2.0',
 '25498-3.0',
 '25499-2.0',
 '25499-3.0',
 '25500-2.0',
 '25500-3.0',
 '25501-2.0',
 '25501-3.0',
 '25502-2.0',
 '25502-3.0',
 '25503-2.0',
 '25503-3.0',
 '25504-2.0',
 '25504-3.0',
 '25505-2.0',
 '25505-3.0',
 '25506-2.0',
 '25506-3.0',
 '25507-2.0',
 '25507-3.0',
 '25508-2.0',
 '25508-3.0',
 '25509-2.0',
 '25509-3.0',
 '25510-2.0',
 '25510-3.0',
 '25511-2.0',
 '25511-3.0',
 '25512-2.0',
 '25512-3.0',
 '25513-2.0',
 '25513-3.0',
 '25514-2.0',
 '25514-3.0',
 '25515-2.0',
 '25515-3.0',
 '25516-2.0',
 '25516-3.0',
 '25517-2.0',
 '25517-3.0',
 '25518-2.0',
 '25518-3.0',
 '25519-2.0',
 '25519-3.0',
 '25520-2.0',
 '25520-3.0',
 '25521-2.0',
 '25521-3.0',
 '25522-2.0',
 '25522-3.0',
 '25523-2.0',
 '25523-3.0',
 '25524-2.0',
 '25524-3.0',
 '25525-2.0',
 '25525-3.0',
 '25526-2.0',
 '25526-3.0',
 '25527-2.0',
 '25527-3.0',
 '25528-2.0',
 '25528-3.0',
 '25529-2.0',
 '25529-3.0',
 '25530-2.0',
 '25530-3.0',
 '25531-2.0',
 '25531-3.0',
 '25532-2.0',
 '25532-3.0',
 '25533-2.0',
 '25533-3.0',
 '25534-2.0',
 '25534-3.0',
 '25535-2.0',
 '25535-3.0',
 '25536-2.0',
 '25536-3.0',
 '25537-2.0',
 '25537-3.0',
 '25538-2.0',
 '25538-3.0',
 '25539-2.0',
 '25539-3.0',
 '25540-2.0',
 '25540-3.0',
 '25541-2.0',
 '25541-3.0',
 '25736-2.0',
 '25736-3.0',
 '25781-2.0',
 '25781-3.0',
 '26514-2.0',
 '26514-3.0',
 '26515-2.0',
 '26515-3.0',
 '26516-2.0',
 '26516-3.0',
 '26517-2.0',
 '26517-3.0',
 '26518-2.0',
 '26518-3.0',
 '26519-2.0',
 '26519-3.0',
 '26520-2.0',
 '26520-3.0',
 '26521-2.0',
 '26521-3.0',
 '26522-2.0',
 '26522-3.0',
 '26526-2.0',
 '26526-3.0',
 '26527-2.0',
 '26527-3.0',
 '26528-2.0',
 '26528-3.0',
 '26529-2.0',
 '26529-3.0',
 '26530-2.0',
 '26530-3.0',
 '26531-2.0',
 '26531-3.0',
 '26532-2.0',
 '26532-3.0',
 '26533-2.0',
 '26533-3.0',
 '26534-2.0',
 '26534-3.0',
 '26535-2.0',
 '26535-3.0',
 '26536-2.0',
 '26536-3.0',
 '26537-2.0',
 '26537-3.0',
 '26552-2.0',
 '26552-3.0',
 '26553-2.0',
 '26553-3.0',
 '26554-2.0',
 '26554-3.0',
 '26555-2.0',
 '26555-3.0',
 '26556-2.0',
 '26556-3.0',
 '26557-2.0',
 '26557-3.0',
 '26558-2.0',
 '26558-3.0',
 '26559-2.0',
 '26559-3.0',
 '26560-2.0',
 '26560-3.0',
 '26561-2.0',
 '26561-3.0',
 '26562-2.0',
 '26562-3.0',
 '26563-2.0',
 '26563-3.0',
 '26564-2.0',
 '26564-3.0',
 '26565-2.0',
 '26565-3.0',
 '26566-2.0',
 '26566-3.0',
 '26567-2.0',
 '26567-3.0',
 '26583-2.0',
 '26583-3.0',
 '26584-2.0',
 '26584-3.0',
 '26585-2.0',
 '26585-3.0',
 '26586-2.0',
 '26586-3.0',
 '26587-2.0',
 '26587-3.0',
 '26588-2.0',
 '26588-3.0',
 '26589-2.0',
 '26589-3.0',
 '26590-2.0',
 '26590-3.0',
 '26591-2.0',
 '26591-3.0',
 '26592-2.0',
 '26592-3.0',
 '26593-2.0',
 '26593-3.0',
 '26594-2.0',
 '26594-3.0',
 '26595-2.0',
 '26595-3.0',
 '26596-2.0',
 '26596-3.0',
 '26597-2.0',
 '26597-3.0',
 '26598-2.0',
 '26598-3.0',
 '26721-2.0',
 '26721-3.0',
 '26722-2.0',
 '26722-3.0',
 '26723-2.0',
 '26723-3.0',
 '26724-2.0',
 '26724-3.0',
 '26725-2.0',
 '26725-3.0',
 '26726-2.0',
 '26726-3.0',
 '26727-2.0',
 '26727-3.0',
 '26728-2.0',
 '26728-3.0',
 '26729-2.0',
 '26729-3.0',
 '26730-2.0',
 '26730-3.0',
 '26731-2.0',
 '26731-3.0',
 '26732-2.0',
 '26732-3.0',
 '26733-2.0',
 '26733-3.0',
 '26734-2.0',
 '26734-3.0',
 '26735-2.0',
 '26735-3.0',
 '26736-2.0',
 '26736-3.0',
 '26737-2.0',
 '26737-3.0',
 '26738-2.0',
 '26738-3.0',
 '26739-2.0',
 '26739-3.0',
 '26740-2.0',
 '26740-3.0',
 '26741-2.0',
 '26741-3.0',
 '26742-2.0',
 '26742-3.0',
 '26743-2.0',
 '26743-3.0',
 '26744-2.0',
 '26744-3.0',
 '26745-2.0',
 '26745-3.0',
 '26746-2.0',
 '26746-3.0',
 '26747-2.0',
 '26747-3.0',
 '26748-2.0',
 '26748-3.0',
 '26749-2.0',
 '26749-3.0',
 '26750-2.0',
 '26750-3.0',
 '26751-2.0',
 '26751-3.0',
 '26752-2.0',
 '26752-3.0',
 '26753-2.0',
 '26753-3.0',
 '26754-2.0',
 '26754-3.0',
 '26755-2.0',
 '26755-3.0',
 '26756-2.0',
 '26756-3.0',
 '26757-2.0',
 '26757-3.0',
 '26758-2.0',
 '26758-3.0',
 '26759-2.0',
 '26759-3.0',
 '26760-2.0',
 '26760-3.0',
 '26761-2.0',
 '26761-3.0',
 '26762-2.0',
 '26762-3.0',
 '26763-2.0',
 '26763-3.0',
 '26764-2.0',
 '26764-3.0',
 '26765-2.0',
 '26765-3.0',
 '26766-2.0',
 '26766-3.0',
 '26767-2.0',
 '26767-3.0',
 '26768-2.0',
 '26768-3.0',
 '26769-2.0',
 '26769-3.0',
 '26770-2.0',
 '26770-3.0',
 '26771-2.0',
 '26771-3.0',
 '26772-2.0',
 '26772-3.0',
 '26773-2.0',
 ...]

In [3]:
columns_including_minus_0 = df_.filter(regex='.*-0.*')

In [4]:
columns_including_minus_0

,31-0.0,44-0.0,48-0.0,49-0.0,53-0.0,54-0.0,55-0.0,74-0.0,87-0.0,87-0.1,...,131414-0.0,131415-0.0,131416-0.0,131417-0.0,131418-0.0,131419-0.0,131420-0.0,131421-0.0,131422-0.0,131423-0.0
0,0,4675,74,102,2010-02-25,11018,2,4,40,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(list(columns_including_minus_0.columns))

1677

In [6]:
# Variables that we had in a previous version that are no longer available
not_found_1 = ['767-0.0', '2237-0.0', '23102-0.0', '806-0.0', '796-0.0', '2040-0.0', 
 '1110-0.0', '816-0.0', '4526-0.0', '826-0.0', '1747-0.0', '100580-0.0', 
 '100240-0.0', '2267-0.0', '757-0.0', '24020-0.0', '1498-0.0', '100390-0.0',
 '21002-0.0', '79-0.0', '1120-0.0', '24014-0.0', '1060-0.0', '50-0.0', '1050-0.0', 
 '34-0.0', '104670-0.0', '24021-0.0', '1757-0.0', '23105-0.0', '1727-0.0', '24009-0.0',
 '1140-0.0', '189-0.0', '1150-0.0'] ; len(not_found_1)

35

In [7]:
# Initialize a dictionary named var_temp. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain general external exposures.
var_temp_1 = {'eid': 'f.eid',
    '31-0.0' : 'Sex',
# '34-0.0': 'Age',
 '48-0.0': 'Waist_circumference',
 '49-0.0': 'Hip_circumference',
# '50-0.0': 'Standing_height',
 '54-0.0': 'Assessment_centre',
# '79-0.0': 'Alcohol_day',
# '189-0.0': 'Townsendeprivation',
 '670-0.0': 'Home_type',
 '680-0.0': 'Home_status',
# '757-0.0': 'Time_employed',
# '767-0.0': 'Length_working_week',
# '796-0.0': 'Distance_home_job',
# '806-0.0': 'Job_walking/standing',
# '816-0.0': 'Job_heavy/physical',
# '826-0.0': 'Job_shift_work',
 '845-0.0': 'Age_full_education',
# '1050-0.0': 'Time_outdoors_summer',
# '1060-0.0': 'Time_outdoors_winter',
# '1110-0.0': 'Length_phone_use',
# '1120-0.0': 'Weekly_phone_3_months',
# '1140-0.0': 'Difference_phone_2_years',
# '1150-0.0': 'Side_head_phone',
 '1160-0.0': 'Sleep_duration',            
 '1190-0.0': 'Nap_during_day',
 '1200-0.0': 'Sleeplessness',
 '1220-0.0': 'Daytime_dozing/sleeping',
 '1239-0.0': 'Current_smoking',
 '1249-0.0': 'Past_smoking',
 '1289-0.0': 'Cooked_vegetable_intake',
 '1299-0.0': 'Salad/raw_vegetable_intake',
 '1309-0.0': 'Fresh_fruit_intake',
 '1319-0.0': 'Dried_fruit_intake',
 '1329-0.0': 'Oily_fish_intake',
 '1339-0.0': 'Non_oily_fish_intake',
 '1349-0.0': 'Processed_meat_intake',
 '1359-0.0': 'Poultry_intake',
 '1369-0.0': 'Beef_intake',
 '1379-0.0': 'Lamb/mutton_intake',
 '1389-0.0': 'Pork_intake',
 '1408-0.0': 'Cheese_intake',
 '1418-0.0': 'Milk_type',
 '1428-0.0': 'Spread_type',
 '1438-0.0': 'Bread_intake',
 '1448-0.0': 'Bread_type',
 '1458-0.0': 'Cereal_intake',
 '1468-0.0': 'Cereal_type',
 '1478-0.0': 'Salt_added',
 '1488-0.0': 'Tea_intake',
# '1498-0.0': 'Coffee_intake',
 '1508-0.0': 'Coffee_type',
 '1528-0.0': 'Water_intake',
 '1538-0.0': 'Dietary_changes_5years',
 '1548-0.0': 'Variation_diet',
# '1727-0.0': 'Skin_tanning',            
# '1747-0.0': 'Hair_colour',
# '1757-0.0': 'Facial_ageing',
# '2040-0.0': 'Risk_taking',
 '2050-0.0': 'Depressed_2weeks',
 '2060-0.0': 'Unenthusiasm_2weeks',
 '2070-0.0': 'Tenseness_2weeks',
 '2080-0.0': 'Tiredness_2weeks',
 '2090-0.0': 'Seen_doctor',
 '2100-0.0': 'Seen_sychiatrist',
# '2237-0.0': 'Plays_computer_games',            
# '2267-0.0': 'Sun/uv_protection',
# '4526-0.0': 'Happiness',
 '4598-0.0': 'Ever_depressed_1week',
 '4609-0.0': 'Longest_depression',            
 '4620-0.0': 'Number_depression',
 '4631-0.0': 'Ever_unenthusiastic_1week',
 '6138-0.0': 'Qualifications_0', ###
 '6138-0.1': 'Qualifications_1', ###
 '6138-0.2': 'Qualifications_2', ###
 '6138-0.3': 'Qualifications_3', ###
 '6138-0.4': 'Qualifications_4', ###
 '6138-0.5': 'Qualifications_5', ###
 '6142-0.0': 'Employment_status_0', ###
 '6142-0.1': 'Employment_status_1', ###
 '6142-0.2': 'Employment_status_2', ###
 '6142-0.3': 'Employment_status_3', ###
 '6142-0.4': 'Employment_status_4', ###
 '6142-0.5': 'Employment_status_5', ###
 '6142-0.6': 'Employment_status_6', ###
 '20117-0.0': 'Drinker_status',           
 '20126-0.0': 'Bipolar_status',
# '20127-0.0': 'Neuroticism_score',
 '20405-0.0': 'Recommend_reduction_alcohol',
 '20411-0.0': 'Injury_drinking',
 '20414-0.0': 'Frequency_drinking',            
 '20453-0.0': 'Ever_cannabis',
 '20456-0.0': 'Ever_illicit_drug',
 '20495-0.0': 'Avoided_activities_1month',
 '20497-0.0': 'Disturbing_thoughts_1month',
 '20498-0.0': 'Upset_reminded_1month',            
 '20521-0.0': 'Belittlement_partner',
 '20522-0.0': 'Confiding_relationship',
 '20523-0.0': 'Physical_violence_partner',
 '20524-0.0': 'Sexual_interference_without_consent',
 '20525-0.0': 'Able_to_pay_rent/mortgage',            
 '20526-0.0': 'Accident_life-threatening',
 '20529-0.0': 'Victim_crime',
 '20530-0.0': 'Witnessed_death',
 '20531-0.0': 'Victim_sexual_assault',
 '21000-0.0': 'Ethnic',            
 '21001-0.0': 'BMI',
# '21002-0.0': 'Weight',
 '21022-0.0': 'Age',
 '23099-0.0': 'Body_fat_percentage',
 '23101-0.0': 'Body_fat-free_mass',
# '23102-0.0': 'Body_water_mass',            
# '23105-0.0': 'Basal_metabolic_rate',
# '24009-0.0': 'Traffic_intensity',
# '24014-0.0': 'Close_major_road',
# '24020-0.0': 'Daytime_noise_pollution',
# '24021-0.0': 'Evening_noise_pollution',            
# '100240-0.0': 'Coffee_consumed',
# '100390-0.0': 'Tea_consumed',
# '100580-0.0': 'Alcohol_consumed',
# '104670-0.0': 'Vitamin_supplement_user'
             }

In [8]:
keys = list(var_temp_1.keys())
cut_keys = [key.split('-')[0] for key in keys]
unique_cut_keys = list(set(cut_keys))
len(unique_cut_keys)

74

In [9]:
# Variables that we had in a previous version that are no longer available
not_found_2 = ['1737-0.0', '1697-0.0', '1777-0.0', '1687-0.0', '1707-0.0']; len(not_found_2)

5

In [10]:
# Initialize a dictionary named var_temp_2. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain Early Cause Factors.
var_temp_2 ={'eid': 'f.eid',
            '1677-0.0':'Breastfed_baby',
#            '1687-0.0':'Size_age10',
#            '1697-0.0':'Height_age10',
#            '1707-0.0':'Handedness',
#            '1737-0.0':'Childhood_sunburn_occasions',
            '1767-0.0':'Adopted_child',
#            '1777-0.0':'Part_multiple',
            '1787-0.0':'Maternal_smoking_around_birth',
            '20487-0.0':'Hated_family_member_child',
            '20488-0.0':'Abused_family_child',
            '20489-0.0':'Felt_loved_child',
            '20490-0.0':'Sexually_molested_child',
            '20491-0.0':'Someone_take_doctor_child'}

In [11]:
keys = list(var_temp_2.keys())
cut_keys = [key.split('-')[0] for key in keys]
unique_cut_keys = list(set(cut_keys))
len(unique_cut_keys)

9

In [12]:
# Variables that we had in a previous version that are no longer available
not_found_3 = ['30600-0.0', '30080-0.0', '30020-0.0', '30890-0.0', '30720-0.0', '30650-0.0', '30830-0.0', 
               '30670-0.0', '30610-0.0', '30800-0.0', '30880-0.0', '30000-0.0', '30150-0.0', '30620-0.0', 
               '30680-0.0', '30140-0.0', '30810-0.0', '30820-0.0', '30730-0.0', '30700-0.0'];

In [13]:
# Initialize a dictionary named var_temp_3. The keys are original variable names and the values are the new names that we want to assign to them.
# The general structure is 'original_name' : 'new_name'. This dictionary is used for renaming variables from the original dataset,
# making the variable names more understandable and easier to work with.
# This dictionary will contain internal exposures (blood).
var_temp_3 ={'eid': 'f.eid',
#            '30600-0.0':'Albumin',
#            '30610-0.0':'Alkanine_phosphatase',
#            '30620-0.0':'Alanine_aminotransferase',
            '30630-0.0':'APOA',
            '30640-0.0':'APOB',
#            '30650-0.0':'Aspartate_aminotransferase',
#            '30680-0.0':'Calcium',
            '30690-0.0':'Cholesterol',
#            '30700-0.0':'Creatinine',
            '30710-0.0':'CRP',
#            '30730-0.0':'GGT',
            '30740-0.0':'Glucose',
            '30760-0.0':'HDL',
#            '30780-0.0':'LDL',
#            '30790-0.0':'Lipoprotein_A',
            '30870-0.0':'Triglyceride',
#            '30810-0.0':'Phosphate',
#            '30820-0.0':'Rheumatoid_factor',
#            '30880-0.0':'Uric_acid',
#            '30670-0.0':'Urea',
#            '30720-0.0':'Cystatin_C',
            '30770-0.0':'IGF_1',
#            '30890-0.0':'Vitamin_D',
#            '30800-0.0':'Oestradiol',
            '30850-0.0':'Testosterone',
#            '30830-0.0':'SHBG',
            '30750-0.0':'HbA1c',
#            '30020-0.0':'Haemoglobin_concentration',
#            '30080-0.0':'Platelets_count',
#            '30000-0.0':'White_blood_cell_count',
#            '30150-0.0':'Eosinophil_count',
#            '30140-0.0':'Neutrophil_count'
}

In [14]:
keys = list(var_temp_3.keys())
cut_keys = [key.split('-')[0] for key in keys]
unique_cut_keys = list(set(cut_keys))
len(unique_cut_keys)

11

In [12]:
df_1 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_1.keys())
df_1 = df_1.rename(columns = var_temp_1)

In [13]:
df_2 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_2.keys())
df_2 = df_2.rename(columns = var_temp_2)

In [14]:
df_3 = pd.read_csv('/Users/marinacamacho/Desktop/Master_I/Raw_Data/ukb46359.csv', usecols = var_temp_3.keys())
df_3 = df_3.rename(columns = var_temp_3)

In [15]:
# List of columns to replace certain values
variables = ['Age_full_education','Sleep_duration','Nap_during_day',
             'Sleeplessness','Daytime_dozing/sleeping','Drinker_status',
             'Frequency_drinking','Ever_cannabis','Ever_illicit_drug','Injury_drinking',
             'Recommend_reduction_alcohol','Current_smoking','Past_smoking',
             'Cooked_vegetable_intake','Salad/raw_vegetable_intake',
             'Fresh_fruit_intake','Dried_fruit_intake','Oily_fish_intake',
             'Non_oily_fish_intake','Processed_meat_intake','Poultry_intake',
             'Beef_intake','Lamb/mutton_intake','Pork_intake','Cheese_intake',
             #'Home_status',
             #'Home_type',
             #'Milk_type','Spread_type',
             'Bread_intake',
             #'Bread_type',
             'Cereal_intake',
             #'Cereal_type',
             'Salt_added','Tea_intake',
             #'Coffee_type',
             'Water_intake','Dietary_changes_5years',
             'Variation_diet','Belittlement_partner','Confiding_relationship',
             'Physical_violence_partner','Sexual_interference_without_consent',
             'Able_to_pay_rent/mortgage','Accident_life-threatening',
             'Victim_crime','Witnessed_death','Victim_sexual_assault',
             'Avoided_activities_1month','Disturbing_thoughts_1month',
             'Upset_reminded_1month','Ever_depressed_1week',
             'Longest_depression','Number_depression',
             #'Bipolar_status',
             #'Neuroticism_score',
             'Ever_unenthusiastic_1week',
             'Depressed_2weeks','Unenthusiasm_2weeks','Tenseness_2weeks',
             'Tiredness_2weeks','Seen_doctor','Seen_sychiatrist',
             'Ethnic',
             'Age']

# Loop over each column in the list of variables
for col in variables:
    # In each column, replace the values -1,-2,-3,-10,-121,-818 with np.NaN,100,np.NaN,0.5,np.NaN,np.NaN respectively.
    # Notice that this values were coding for specific meanings in this variables, see: https://biobank.ndph.ox.ac.uk/ukb/search.cgi.
    df_1[col] = df_1[col].replace([-1,-2,-3,-10,-121,-818],[np.NaN,100,np.NaN,0.5,np.NaN,np.NaN])

In [16]:
df_1['Current_smoking']=df_1['Current_smoking'].replace([2,1], [1,2])
df_1['Past_smoking']=df_1['Past_smoking'].replace([0,1,3,4], [4,3,1,0])

In [17]:
variables = ['Breastfed_baby','Adopted_child','Maternal_smoking_around_birth',
             'Hated_family_member_child','Abused_family_child','Felt_loved_child',
             'Sexually_molested_child','Someone_take_doctor_child']

# Loop over each column in the list of variables and replace special values for appropiate ones
for col in variables:
    df_2[col] = df_2[col].replace([-1,-2,-3,-10,-121,-818],[np.NaN,999,np.NaN,0.5,np.NaN,np.NaN])

In [18]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1.0: 'White',
       2.0: 'Brown',      
       3.0: 'WholeMealgrain',
       4.0: 'OtherBread',
        -1: 'Do_not_know',
        -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Bread_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['White'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['White'])
df_1['Brown'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Brown'])
df_1['WholeMealgrain'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['WholeMealgrain'])
df_1['OtherBread'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['OtherBread'])

df_1['White'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['White'])
df_1['Brown'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Brown'])
df_1['WholeMealgrain'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['WholeMealgrain'])
df_1['OtherBread'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['OtherBread'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Bread_type']

In [19]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Full_cream',
    2: 'Semi-skimmed',
    3: 'Skimmed',
    4: 'Soya',
    5: 'Other_type_of_milk',
    6: 'Never/rarely_have_milk',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Milk_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Full_cream'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Full_cream'])
df_1['Semi-skimmed'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Semi-skimmed'])
df_1['Skimmed'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Skimmed'])
df_1['Soya'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Soya'])
df_1['Other_type_of_milk'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_type_of_milk'])
df_1['Never/rarely_have_milk'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Never/rarely_have_milk'])

df_1['Full_cream'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Full_cream'])
df_1['Semi-skimmed'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Semi-skimmed'])
df_1['Skimmed'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Skimmed'])
df_1['Soya'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Soya'])
df_1['Other_type_of_milk'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_type_of_milk'])
df_1['Never/rarely_have_milk'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Never/rarely_have_milk'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Milk_type']

In [20]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Butter/spreadable_butter',
    2: 'Flora_Pro-Active/Benecol',
    3: 'Other_type_of_spread/margarine',
    0: 'Never/rarely_use_spread',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}


# Specify the column names you want to extract
columns_to_extract = ['Spread_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Butter/spreadable_butter'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Butter/spreadable_butter'])
df_1['Flora_Pro-Active/Benecol'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Flora_Pro-Active/Benecol'])
df_1['Other_type_of_spread/margarine'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_type_of_spread/margarine'])
df_1['Never/rarely_use_spread'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Never/rarely_use_spread'])

df_1['Butter/spreadable_butter'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Butter/spreadable_butter'])
df_1['Flora_Pro-Active/Benecol'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Flora_Pro-Active/Benecol'])
df_1['Other_type_of_spread/margarine'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_type_of_spread/margarine'])
df_1['Never/rarely_use_spread'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Never/rarely_use_spread'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Spread_type']

In [21]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Bran_cereal',
    2: 'Biscuit_cereal',
    3: 'Oat_cereal',
    4: 'Muesli',
    5: 'Other_cereal',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Cereal_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Bran_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Bran_cereal'])
df_1['Biscuit_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Biscuit_cereal'])
df_1['Oat_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Oat_cereal'])
df_1['Muesli'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Muesli'])
df_1['Other_cereal'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_cereal'])

df_1['Bran_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Bran_cereal'])
df_1['Biscuit_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Biscuit_cereal'])
df_1['Oat_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Oat_cereal'])
df_1['Muesli'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Muesli'])
df_1['Other_cereal'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_cereal'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Cereal_type']

In [22]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'Decaffeinated_coffee',
    2: 'Instant_coffee',
    3: 'Ground_coffee',
    4: 'Other_coffee',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Coffee_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Decaffeinated_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Decaffeinated_coffee'])
df_1['Instant_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Instant_coffee'])
df_1['Ground_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Ground_coffee'])
df_1['Other_coffee'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Other_coffee'])

df_1['Decaffeinated_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Decaffeinated_coffee'])
df_1['Instant_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Instant_coffee'])
df_1['Ground_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Ground_coffee'])
df_1['Other_coffee'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Other_coffee'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Coffee_type']

In [23]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {1: 'House/bungalow',
    2: 'Flat/maisonette/apartment',
    3: 'Mobile/temporary_structure',
    4: 'Sheltered_accommodation',
    5: 'Care_home',
    -1: 'Do_not_know',
    -3: 'Prefer_not_to_answer'}

# Specify the column names you want to extract
columns_to_extract = ['Home_type']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['House/bungalow'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['House/bungalow'])
df_1['Flat/maisonette/apartment'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Flat/maisonette/apartment'])
df_1['Mobile/temporary_structure'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Mobile/temporary_structure'])
df_1['Sheltered_accommodation'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Sheltered_accommodation'])
df_1['Care_home'] = np.where(df_1['Do_not_know'] == 1, np.nan, df_1['Care_home'])

df_1['House/bungalow'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['House/bungalow'])
df_1['Flat/maisonette/apartment'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Flat/maisonette/apartment'])
df_1['Sheltered_accommodation/temporary_structure'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Mobile/temporary_structure'])
df_1['Muesli'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Sheltered_accommodation'])
df_1['Care_home'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.nan, df_1['Care_home'])

del df_1['Do_not_know']
del df_1['Prefer_not_to_answer']
del df_1['Home_type']

In [24]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {0: 'No_Bipolar_Depression',
    1: 'Bipolar_I_Disorder',
    2: 'Bipolar_II_Disorder',
    3: 'Recurrent_severe_depression',
    4: 'Recurrent_moderate_depression',
    5: 'Single_depression_episode'}

# Specify the column names you want to extract
columns_to_extract = ['Bipolar_status']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    # Check if the code is positive or negative
    is_positive = code > 0

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

del df_1['No_Bipolar_Depression']

In [25]:
#'6138-0.0': 'Qualifications'
#'6142-0.0': 'Employment_status'

In [26]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'University',  
    2.0: 'A/AS',
    3.0: 'O/GCSE',
    4.0: 'CSE',
    5.0: 'NVQ/HND/HNC',
    6.0: 'Professional'
}

# Specify the column names you want to extract
columns_to_extract = ['Qualifications_0','Qualifications_1','Qualifications_2',
                      'Qualifications_3','Qualifications_4','Qualifications_5']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():
    
    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['University'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['University'])
df_1['A/AS'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['A/AS'])
df_1['O/GCSE'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['O/GCSE'])
df_1['CSE'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['CSE'])
df_1['NVQ/HND/HNC'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['NVQ/HND/HNC'])
df_1['Professional'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Professional'])

del df_1['Qualifications_0']
del df_1['Qualifications_1']
del df_1['Qualifications_2']
del df_1['Qualifications_3']
del df_1['Qualifications_4']
del df_1['Qualifications_5']

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']

In [27]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'Own_outright',
    2.0: 'Own_mortgage', 
    3.0: 'Rent_local',
    4.0: 'Rent_private',      
    5.0: 'Pay_rent_mortgage',  
    6.0: 'Rent_free',      
}

# Specify the column names you want to extract
columns_to_extract = ['Home_status']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Own_outright'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Own_outright'])
df_1['Own_mortgage'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Own_mortgage'])
df_1['Rent_local'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_local'])
df_1['Rent_private'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_private'])
df_1['Pay_rent_mortgage'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Pay_rent_mortgage'])
df_1['Rent_free'] = np.where(df_1['Prefer_not_to_answer'] == 1, np.NaN, df_1['Rent_free'])

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']
del df_1['Home_status']

In [28]:
# Creating a dictionary to map the code to its corresponding meaning
code_meaning = {
    -7.0: 'None_of_the_above',
    -3.0: 'Prefer_not_to_answer',
    1.0: 'Paid_employment',
    2.0: 'Retired', 
    3.0: 'Looking_after_home',
    4.0: 'Unable_to_work',      
    5.0: 'Unemployed',  
    6.0: 'Unpaid_work',      
    7.0: 'Student'
}

# Specify the column names you want to extract
columns_to_extract = ['Employment_status_0','Employment_status_1','Employment_status_2',
                      'Employment_status_3','Employment_status_4','Employment_status_5',
                      'Employment_status_6']

# Create a new dataframe with only the extracted columns
extracted_df = df_1[columns_to_extract].copy()

# Create a new dataframe to store the results
result_df = pd.DataFrame()

# Iterate over each code and meaning in the dictionary
for code, meaning in code_meaning.items():

    # Create a boolean mask indicating where the code is present in the extracted columns
    code_mask = extracted_df.isin([code])

    # Count the occurrences of the code in each row
    code_counts = code_mask.sum(axis=1)

    # Create a new column with the meaning and initialize it as 1 if the code is present, else 0
    result_df[meaning] = np.where(code_counts > 0, 1, 0)

# Concatenate the result dataframe with the original dataframe
df_1 = pd.concat([df_1, result_df], axis=1)

df_1['Paid_employment'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Paid_employment'])
df_1['Retired'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Retired'])
df_1['Looking_after_home'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Looking_after_home'])
df_1['Unable_to_work'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unable_to_work'])
df_1['Unemployed'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unemployed'])
df_1['Unpaid_work'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Unpaid_work'])
df_1['Student'] = np.where(df_1['None_of_the_above'] == 1, 0, df_1['Student'])
  
del df_1['Employment_status_0']
del df_1['Employment_status_1']
del df_1['Employment_status_2']
del df_1['Employment_status_3']
del df_1['Employment_status_4']
del df_1['Employment_status_5']
del df_1['Employment_status_6']

del df_1['None_of_the_above']
del df_1['Prefer_not_to_answer']

In [29]:
df_1.shape

(502481, 118)

In [30]:
df_2.shape

(502481, 9)

In [31]:
df_3.shape

(502481, 11)

In [32]:
columns_with_negatives_1 = df_1.columns[df_1.lt(0).any()]; columns_with_negatives_1

Index([], dtype='object')

In [33]:
columns_with_negatives_2 = df_2.columns[df_2.lt(0).any()]; columns_with_negatives_2

Index([], dtype='object')

In [34]:
columns_with_negatives_3 = df_3.columns[df_3.lt(0).any()]; columns_with_negatives_3

Index([], dtype='object')

In [35]:
df_1.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_external.csv', index = False, header=True)

In [36]:
df_3.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_internal.csv', index = False, header=True)

In [37]:
df_2.to_csv(r'/Users/marinacamacho/Desktop/Master_I/Raw_Data/Time_0/ukb46359_clean_earlycause.csv', index = False, header=True)

In [39]:
df_2

,f.eid,Breastfed_baby,Adopted_child,Maternal_smoking_around_birth,Hated_family_member_child,Abused_family_child,Felt_loved_child,Sexually_molested_child,Someone_take_doctor_child
0,1000010,0.0,0.0,NaN,2.0,2.0,2.0,0.0,4.0
1,1000028,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1000034,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1000045,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1000052,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
502476,6024770,NaN,0.0,0.0,0.0,0.0,4.0,0.0,4.0
502477,6024784,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
502478,6024795,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
502479,6024804,1.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
502480,6024818,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN

In [40]:
df_1

,f.eid,Sex,Waist_circumference,Hip_circumference,Assessment_centre,Age_full_education,Sleep_duration,Nap_during_day,Sleeplessness,Daytime_dozing/sleeping,...,Rent_private,Pay_rent_mortgage,Rent_free,Paid_employment,Retired,Looking_after_home,Unable_to_work,Unemployed,Unpaid_work,Student
0,1000010,0.0,74.0,102.0,11018.0,NaN,7.0,2.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
1,1000028,1.0,120.0,113.0,11020.0,16.0,9.0,2.0,2.0,0.0,...,0.0,0.0,0.0,1,1,0,0,0,0,0
2,1000034,0.0,66.0,88.0,11016.0,16.0,5.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
3,1000045,1.0,110.0,117.0,11018.0,18.0,7.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
4,1000052,1.0,94.0,100.0,11010.0,NaN,6.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502476,6024770,1.0,110.0,113.0,11011.0,16.0,7.0,2.0,2.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
502477,6024784,0.0,102.0,110.0,11011.0,16.0,6.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0,1,0,0,0,0,0
502478,6024795,1.0,99.0,98.0,11009.0,100.0,7.0,2.0,2.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0,0,0
502479,6024804,0.0,86.0,111.0,11017.0,NaN,6.0,1.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0
502480,6024818,1.0,83.0,98.0,11020.0,16.0,12.0,2.0,3.0,0.0,...,0.0,0.0,0.0,1,0,0,0,0,0,0